---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">

      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个自由设计师</li>
            <li>爱折腾</li>
            <li>爱科技</li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
